#page-room {
    header {
        padding: 2.4rem;
        border-bottom: 1px solid #e2e2e2;

        .content {
            max-width: 1120px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;

            & > a img {
                max-height: 4.5rem;
            }

            & > div {
                display: flex;
                align-items: center;
                gap: 2rem;

                button {
                    height: 4rem;
                }
            }
        }
    }
    main {
        max-width: 800px;
        margin: 0 auto;

        .room-title {
            margin: 3.2rem 0 2.4rem;
            display: flex;
            align-items: center;

            a {
                color: inherit;
            }

            h1 {
                font-family: "Poppins", sans-serif;
                font-size: 2.4rem;
                color: var(--color-text);
            }

            span {
                margin-left: 1.6rem;
                background: var(--color-primary-light);
                border-radius: 9999px;
                padding: 0.8rem 1.6rem;
                font-weight: 500;
                font-size: 1.4rem;
                color: var(--color-primary-white);
            }
        }

        form {
            textarea {
                width: 100%;
                border: 0;
                padding: 1.6rem;
                border-radius: 0.8rem;
                background: #fefefe;
                box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
                resize: vertical;
            }

            footer {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 1.6rem;

                .user-info {
                    display: flex;
                    align-items: center;

                    img {
                        width: 3.2rem;
                        height: 3.2rem;
                        border-radius: 50%;
                    }

                    span {
                        margin-left: 0.8rem;
                        color: var(--color-text);
                        font-weight: 500;
                        font-size: 1.4rem;
                    }

                    button {
                        background: none;
                        border: none;
                        font-size: 0;
                        margin-left: 0.5rem;
                        cursor: pointer;

                        svg {
                            height: 1.6rem;
                        }
                    }
                }

                & > span {
                    font-size: 1.4rem;
                    color: #737388;
                    font-weight: 500;

                    button {
                        background: none;
                        border: none;
                        color: var(--color-primary);
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }
            }
        }

        .question-list {
            margin-top: 3.2rem;
            padding-bottom: 5rem;
        }
    }
}
